nav {
  background: #d97676;
}
.profile-container {
  position: relative;
}
.profile {
  background: #d97676;
  position: absolute;
  padding: 20px;
  z-index: 22;
  top: 0;
  color: #fff;
  right: 0;
  width: 285px;
  cursor: pointer !important;
  border: 1px solid white;
}
.profile > div:hover {
  background: #8a0a0a;
  padding: 6px;
  border: 2px solid white;
  border-radius: 10px;
}

nav a {
  color: white !important;
}
nav a:hover {
  text-decoration: none;
  color: antiquewhite;
}
.card {
  color: black !important;
}
.card:hover {
  border: 1px solid #000000;
}
